html, body {
  padding: 0;
  margin: 0;
}

body > header {
  background-color: lightyellow;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.main {
  width: 1080px;
  margin: 0 auto;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book {
  padding: .5rem;
  margin: 1rem 0;
  width: 250px;
}

.book img {
  width: 240px;
  height: 320px;
}

.author {
  font-weight: bold;
}

.annotation {
  text-align: justify;
}
